* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --color-primary: black;
    --color-white: white;
    --color-grey: grey;

    --color-dark-dust: #1E1926;
    --color-reddish-dust: #3E303E;
    --color-primary-dust: #A58F86;
    --color-lighter-dust: #D7C0B9;
    --color-brown-dust: #574C4F;
}

body {
    background-color: var(--color-dark-dust);
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
    color: var(--color-primary-dust);
    transition: all .4s ease-in-out;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

header {
    height: 100vh;
    color: var(--color-primary-dust);
    overflow: hidden;
}

section {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
}

.section {
    transform: translateY(-100%) scale(0);
    transition: all .4s ease-in-out;
    background-color: var(--color-dark-dust);
}

.sec1 {
    display: none;
    transform: translateY(0) scale(1);
}

.sec2 {
    display: none;
    transform: translateY(0) scale(1);
}

.sec3 {
    display: none;
    transform: translateY(0) scale(1);
}

.sec4 {
    display: none;
    transform: translateY(0) scale(1);
}

.controls {
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);


    .active-btn {
        background-color: var(--color-primary-dust) !important;
        transition: all .4s ease-in-out;

        i {
            font-size: 1.2rem;
            color: var(--color-reddish-dust) !important;
            pointer-events: none;
        }
    }

    .control {
        padding: 1rem;
        cursor: pointer;
        background-color: var(--color-brown-dust);
        display: flex;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        justify-content: center;
        align-items: center;
        margin: .7rem 0;

        i {
            font-size: 1.2rem;
            color: var(--color-lighter-dust);
            pointer-events: none;
        }
    }
}